@use './global.scss' as g;
@use './var.scss' as v;

.allergy-info {
    &--text {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    &__content {
        margin: 0 10px;
        padding: 16px;
        background-color: v.$color--white;
        position: absolute;
        max-width: 500px;
        border: 8px solid v.$color--mediumVioletred;
        border-radius: 4px;
    }
}
