.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #2b0809;
    color: #fff;
    &__links {
        display: flex;
        p {
            margin: 0 20px;
        }
    }
}
