@use './global.scss' as g;
@use './var.scss' as v;
@use './mixin.scss' as m;

.footer {
    margin-top: 32px;
    width: 100%;
    background-color: v.$color--deepPink;
    color: v.$color--white;

    &--line {
        background-color: v.$color--white;
        background-size: contain;
        height: 50px;
        background-position: 100% 100%;
        background-repeat: repeat-x;
        background-image: url(v.$image--kohakuFlag);
    }

    &__wrap {
        padding: 48px 32px 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 20px;

        @include m.bp {
            flex-direction: column;
            align-items: flex-start;
            padding: 32px 16px 16px;
        }
    }

    &__inner {
        width: 30%;

        @include m.bp {
            width: 100%;
        }
    }

    &__block {
        margin-bottom: 40px;

        @include m.bp {
            margin-bottom: 28px;
        }

        h3 {
            padding-bottom: 20px;

            @include m.bp {
                padding-bottom: 12px;
            }
        }

        a {
            color: v.$color--yellow;
        }

        &--list {
            padding-left: 20px;
            margin-bottom: 20px;

            li {
                margin-bottom: 16px;
            }
        }

        &--text {
            line-height: 2;
        }

        &--business-id {
            padding-top: 16px;
            display: inline-block;
        }
    }

    &__map {
        margin: 20px 0;

        iframe {
            border: none;
            margin: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            aspect-ratio: 4 / 3;
        }
    }

    .copy-light {
        background-color: v.$color--mediumVioletred;
        text-align: center;

        p {
            padding: 12px 0;
            font-size: 12px;
        }
    }
}
