$bp: 767px;
@mixin bp {
    @media screen and (max-width: ($bp)) {
        @content;
    }
}

body {
    background-position: 100% 100%;
    background-repeat: repeat;
    background-image: url('../images/bg-image.jpg');
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;

    &.modal-open {
        overflow: hidden;
    }
}

li {
    list-style: none;
}

.text-left {
    text-align: left;
}

.menu-category {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: '';
        height: 2px;
        flex-grow: 0.2;
        background-color: #000;
    }

    &::before {
        margin-right: 1rem;
    }

    &::after {
        margin-left: 1rem;
    }
}
