.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgba(36, 36, 36, 0.3);
    padding: 0 20px 0 20px;
    width: 100%;
    z-index: 100;
    position: sticky;

    &__links {
        margin-top: 6px;

        &--home {
            font-size: 28px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            font-family: fantasy, Arial, Helvetica, sans-serif;
        }

        &--languages {
            display: flex;

            li {
                padding: 0 8px;

                a {
                    // text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
