//Break Point
$bp: 767px;

//var
$color--white: #fff;
$color--black: #000;
$color--red: red;
$color--yellow: yellow;
$color--deepPink: deeppink;
$color--mediumVioletred: #c71585;
$color--lightGray: lightgray;
$color--font: #333;

//image
$image--main-bg: '../images/bg-image.jpg';
$image--top-keyVisual: '../images/osaka/item07.jpg';
$image--kohakuFlag: '../images/kohaku.png';
