.footer {
    width: 100%;
    background: #2b0809;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    p {
        color: #fff;
        padding: 20px 0;
    }
}
