.header {
    background: #2b0809;
    display: flex;
    justify-content: center;

    .languages {
        display: flex;
        margin: 0;
        padding: 20px 0;
        list-style: none;

        li {
            margin: 0 10px;

            a {
                color: #fff;
            }
        }
    }
}
